body{
    background-image: url('img/1.jpeg') ;
    background-color: darkcyan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.main { 
    margin: 0 auto;
}

.main h1{
    text-align: center;
    color: brown;
    margin-top: -5px;
}