<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wedth=device-wedth, initial-scale=1.0" />
    <title>fundamentals vue</title>
    <link rel="stylesheet" href="theme.css" />
    {{ title }}
</head>
<body>
    <div class="container pt-5" id="app">
        <div class="card center">
            !_MBJ)REBUI+JOiN{SQl!PyTH0n#аGiTиrUBy1@!J_MRAilSdh#@#)%&dhsfj)!_+@#glhdfkj..JAva_SCriPt)!MV@#ghdhTmlbo_tyjs__jghldScCf
            <div>
                <input
                    type="text"
                    :placeholder="placeholderString"
                    v-model="inputValue"
                    @keypress.enter="addNewNote"
                />
                <button class="btn" v-on:click="addNewNote">save</button>
            </div>
            <ul class="list">
                <li class="list-item" v-for="myNote in notes">
                    {{ myNote }}
                </li>
            </ul>
            <div>
                <button class="btn" @click="counter += 1">Добавить 1</button>
                    <p>Кнопка выше была нажата {{ counter }} раз</p>
            </div>
            <div>
                <button class="btn" @click="say('hi')">Скажи hi</button>
                <button class="btn" @click="say('what')">Скажи what</button>
                <br><br>
            </div> 
            <div>
                <input v-model="message" placeholder="" />
                    <p>Сообщение: {{ message }}</p>
                    <p>Сообщение: {{ inputValue }}</p>
              </div>
              <div>
                <span>Многострочное сообщение:</span>
                <p style="white-space: pre-line;">{{ message2 }}</p>
                <br />
                <textarea v-model="message2" placeholder="введите несколько строчек"></textarea> <br/><br/>
              </div>
              <div>
                <input type="checkbox" id="checkbox" v-model="checked1" />
                <label for="checkbox"> are u eating? :{{ checked1 }}</label>                
              </div>
              <div>
                <input type="checkbox" id="checkbox" v-model="checked2" />
                <label for="checkbox"> are u here? :{{ checked2 }} </label>
                <br><br>
              </div>
              <div id="v-model-multiple-checkboxes">
                  <input type="checkbox" id="jack" value="Джек" v-model="checkedNames" />
                  <label for="jack">Джек</label>
                  <input type="checkbox" id="john" value="Джон" v-model="checkedNames" />
                  <label for="john">Джон</label>
                  <input type="checkbox" id="mike" value="Майк" v-model="checkedNames" />
                  <label for="mike">Майк</label>
                <br /><br />
                <span>Отмеченные имена: {{ checkedNames }}</span>
                <br /><br />
            </div> 
                <div id="v-model-radiobutton">
                    <input type="radio" id="yes" value="yes" v-model="picked" />
                    <label for="yes">yes</label>
                    <br />
                    <input type="radio" id="no" value="no" v-model="picked" />
                    <label for="no">no</label>
                    <br />
                    <input type="radio" id="i don't know" value="i don't know" v-model="picked" />
                    <label for="i don't know">i don't know</label>
                    <br>
                    <input type="radio" id="no im Mark" value="no im Mark" v-model="picked" />
                    <label for="no im Mark">no im Mark</label>
                    <br>
                    <span>are you Papa? : {{ picked }}</span>
                    <br><br>
                </div>
                <div id="v-model-select" class="demo">
                    <select v-model="selected">
                        <option disabled value="">choice</option>
                        <option>yes</option>
                        <option>no</option>
                        <option>YES</option>
                        <option>NO</option>
                        <option>im Mark</option>
                        <option>im Papa and im working now</option>
                    </select>
                        <br><br>
                    <span>are you working now?: {{ selected }}</span>
                        <br><br>
                </div>
                    <select v-model="selected2" multiple>
                        <option>here there will be questions</option>
                        <option>1</option>
                        <option>999</option>
                     </select>
                    <br />
                    <span>no question: {{ selected2 }}</span> <br><br> <br><br>
                    <div id="v-model-select-dynamic" class="demo">
                        <select v-model="selected3">
                            <option v-for="option in options" :value="option.value">
                            {{ option.text }}
                            </option>
                            <br><br>
                        </select>
                        <span>Выбрано: {{ selected3 }}</span>
                    </div>
                    <div>
                        <input type="radio" v-model="pick" :value="a" />
                    </div>
                    <h1>to be continued...</h1>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    </body>
</html>